.chat-box {
    justify-content: left;
    flex: auto;
    height: 85vh;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
}

.main {
    width: 100%;
}